<!-- Título  -->
<div class="container py-4">
  <h4 class="titulo-envio mb-4">Selecciona el tipo de entrega</h4>

<div class="container pb-5">
  <!-- Opciones -->
  <div class="form-check mb-3">
    <input class="form-check-input" type="radio" id="domicilio" name="metodoEnvio" value="domicilio" [(ngModel)]="metodoEnvio">
    <label class="form-check-label" for="domicilio">Envío a domicilio</label>
  </div>
  <div class="form-check mb-4">
    <input class="form-check-input" type="radio" id="tienda" name="metodoEnvio" value="tienda" [(ngModel)]="metodoEnvio">
    <label class="form-check-label" for="tienda">Retiro en farmacia</label>
  </div>

  <!-- Envío a domicilio -->
  <div *ngIf="metodoEnvio === 'domicilio'" class="mb-4">
    <div class="card shadow-sm">
      <div class="card-header bg-light text-success fw-bold">
        <i class="bi bi-truck me-2"></i> Dirección de envío
      </div>
      <div class="card-body">
        <p><i class="bi bi-geo-alt-fill me-2 text-success"></i> <span class="text-dato">Dirección:</span> {{ direccion }}</p>
        <p><i class="bi bi-signpost-2-fill me-2 text-success"></i> <span class="text-dato">Distrito:</span> {{ distrito }}</p>
        <p><i class="bi bi-globe2 me-2 text-success"></i> <span class="text-dato">Departamento:</span> {{ departamento }}</p>
        <p><i class="bi bi-info-circle-fill me-2 text-success"></i> <span class="text-dato">Referencia:</span> {{ referencia }}</p>
      </div>
    </div>
  </div>



  <!-- Retiro en tienda -->
  <div *ngIf="metodoEnvio === 'tienda'" class="mb-4">
    <div class="card shadow-sm">
      <div class="card-header bg-light fw-bold text-success">Ubicación de la tienda</div>
      <div class="card-body">
        <p class="text-success"><i class="bi bi-geo-alt-fill me-2"></i><strong>Dirección:</strong> Av. José Santos Chocano 107, Carmen de la Legua-Reynoso</p>
        <p class="text-success"><i class="bi bi-telephone-fill me-2"></i><strong>Teléfono:</strong> +51 923 626 053</p>
        <p class="text-success"><i class="bi bi-envelope-fill me-2"></i><strong>Correo:</strong> contacto&#64;farmadeasol.com</p>
        <p class="text-success"><i class="bi bi-clock-fill me-2"></i><strong>Horario:</strong> 24/7 - Siempre disponibles para ti</p>

        <!-- Mapa responsivo -->
        <div class="rounded shadow mt-3 overflow-hidden" style="max-width: 100%; height: 350px;">
          <iframe 
            width="100%" 
            height="100%" 
            style="border:0;" 
            loading="lazy" 
            allowfullscreen="" 
            referrerpolicy="no-referrer-when-downgrade"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d410.1482663502447!2d-77.09808708065933!3d-12.042839688724008!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105ceab40c652d3%3A0x86236158af414642!2sFarma%20Deasol!5e0!3m2!1ses!2spe!4v1750643710941!5m2!1ses!2spe">
          </iframe>
        </div>
      </div>
    </div>
  </div>

  <!-- Botón -->
  <div class="text-end mt-4">
    <button class="btn btn-success" (click)="continuar()">
      Continuar con el pago
    </button>
  </div>
</div>
